<div class="sect">
    <div class="row w-100 d-flex justify-content-center align-items-center main">
      <p class="title"><img class="logo" src="../../assets/logo2.png">LearnZilla</p>
      <div class="col-12 col-md-8 col-xxl-5">
        <div class="card py-3 px-2 ">
          <p class="heading"><span>Register</span></p>
          <div class="divison">
            <div calss="row">
  
  
              <div [formGroup]="registerUser" class="signinform">
                <label class="labelstyle" for="exampleInputEmail1">Email or Username</label>
                <input type="email" class="form-control" formControlName="emailId" placeholder="Enter email">
  
                <label  class="labelstyle" for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
  
                <button class="btn-grad-o" (click)="onRegister()" (click)="showSnackbar('Registered successfully ....','ok','5000')"><span>Register</span></button>
                <div class="register">
                  <div class="info">
                  or<br>
                  Already have an acoount
                </div>
                 <button (click)="openLogin()" class="btn-grad-w"><span>Login</span></button>
                 </div>
              </div>
  
  
          </div>
        </div>
      </div>
    </div>
  </div>
  