<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnzilla</title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

</head>
<body>
  
    <!--Starting Image and Text. This will be seen first-->
    <div id="stage">
        <div id="stage-caption">
            <h1 class="display-3"> Training and Education for a Better Future </h1>
                <p>Take the next step in your education by training with Learnzilla. 
                    Learnzilla gives you access to training lessons and videos
                    that are designed to help you improve your skills. Join Learnzilla today
                    and improve tomorrows future.
                </p>
                <a href="" class="btn btn-lg btn-success">View Plans</a>
                <a href="" class="btn btn-lg btn-success">Sign Up</a>
        </div>
    </div>

    <!--Card Section to exaplin some of our features-->
    <section id="feature-one">
        <div class="section-content">
            <div class="container">
                <h2>What we do</h2>
                <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex necessitatibus vitae dolorum facere velit accusantium ipsa molestias magni, eius odit consequatur architecto quod nam! Maxime fugit perferendis inventore quisquam non!</p>
            

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-block" >
                                    <h2 class="card-title">Training</h2>
                                </div>
                                <img src="assets\Training.jpg" class="card-img-top" alt="Tech Training">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum doecati cupiditate dicta ab placeat reiciendis expedita magni quam nulla accusantium quos. Labore laboriosam nostrum earum laudantium ipsa.</p>
                                    <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModal">Learn More</button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-block">
                                    <h2 class="card-title">Education</h2>
                                </div>
                                <img src="assets\Education.jpg" class="card-img-top" alt="Working on a laptop">
                                <div class="card-block">
                                    <p class="card-text">Lorem aecati cupiditate dicta ab placeat reiciendis expedita magni quam nulla accusantium quos. Labore laboriosam nostrum earum laudantium ipsa.</p>
                                    <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModal">Learn More</button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-block">
                                    <h2 class="card-title">Programming &amp; Technical</h2>
    
                                </div>
                                <img src="assets\Programming.jpg" class="card-img-top" alt="Fingers typing on a keyboard">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias molestiae pariatur enim! Obcaecati cupiditate dicta ab placeat reiciendis expedita magni quam nulla accusantium quos. Labore laboriosam nostrum earum laudantium ipsa.</p>
                                    <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModal">Learn More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="feature-two">
        <div id="feature-caption">
            <h1 class="display-3"> New Features </h1>
                <p>Checkout our newest features!
                </p>
                <a href="" class="btn btn-lg btn-success">Features</a>
                <a href="" class="btn btn-lg btn-success">Sign Up</a>
        </div>
        
      </section>

    <section id="feature-three">
        <!-- <div class="feature-dark"> -->
          <div class="container">
            <div class="row">
              <div class="feature-content">
                <div class="col-lg-6 d-none d-md-block">
                  <img src="assets\feature-3.png" alt="ipad">
                </div>
                <div class="col-lg-5 offset-lg-1">
                  <h2>Our Mission</h2>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi molestiae, hic blanditiis dolore similique labore alias nesciunt temporibus vitae mollitia, suscipit architecto, cumque illo atque iste distinctio aliquid esse cupiditate.</p>
                  <a href="" role="buttton" class="btn btn-secondary btn-lg">Learn More?</a>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </section>

      <section id="feature-four">
        <div class="container">
          <div class="row">
            <div class="feature-content">
              <div class="col-lg-12 offset-lg-1">
                <h1>Begin your Journey Today</h1>
              </div>
              <div class="col-lg-8 offset-lg-10">
                <a href="" role="button" class="btn btn-success btn-lg">Try Now</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer id="main-footer" class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              &copy; 2021 Learnzilla    
            </div>
            <div class="col-md-2">
              <h6>Our Product</h6>
              <ul class="list-unstyled">
                <li><a href="">Features</a></li>
                <li><a href="">Solution</a></li>
                <li><a href="">Plans</a></li>
                <li><a href="">Sign In</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <h6>Our Team</h6>
            <ul class="list-unstyled">
              <li><a href="">About</a></li>
              <li><a href="">Highlights</a></li>
              <li><a href="">Investors</a></li>
              <li><a href="">Partners</a></li>
            </ul>
            </div>
            <div class="col-md-2">
                <h6>Our Goal</h6>
                <ul class="list-unstyled">
                  <li><a href="">Goals</a></li>
                  <li><a href="">Plans</a></li>
                  <li><a href="">Prospects</a></li>
                  <li><a href="">Career Planning</a></li>
                </ul>
              </div>
            <div class="col-md-2">
              <ul class="list-unstyled">
                <h6>Other Things</h6>
                <li><a href="">Jobs</a></li>
                <li><a href="">Contacts</a></li>
                <li><a href="">FAQ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <!-- jQuery first, then Bootstrap JS. -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>

