.content {
  font-size: 20px;
  padding: 16px;
  text-decoration-color: white;
}

.content > mat-card {
  width: 400px;
}

.mat-card-image{
  height: 300px;
  /* width: 410px; */
}
.value{
  /* float:right; */
  font-size: 15px;
}
.programcard{
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color:blanchedalmond;
  font-family: 'pacifico',cursive;
  margin-top:2rem;
}
.btn-secondary {
width:50%;
margin-left:25%;
margin-right:25%;
}
.program-description{
  text-align: justify;
}
.create-icon{
  position: relative;
  margin-right: 100;
  display: flex;
  font-size: 30px;
  flex-direction:row;
  justify-content:right;
  justify-self:end;
  vertical-align:bottom;
}
/* .icon{
  float:right;
  position: relative;
  vertical-align: bottom;
} */

@media only screen and (max-width: 37.5em) {
  .content > mat-card {
    width:90%;
    height: auto;
  }

  /*add this it*/
  /* .mat-card-image {
     flex-direction: column;
     width: 270px;
  } */
  /*----------------------*/

  .programcard {
    width:90%;
    margin-top:2rem;
    margin-right: 15px;
  }
  .program-description{
    font-size:15px;
  }
  .value{
    font-size:9px;
  }
}
